{% extends 'base.html' %}

{% block title %} Assets {% endblock %}

{% block content %} 
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="card">
            <div class="card-header">
                <h4>Filter by:</h4>
            </div>
            <div class="card-body">
                <form action="." method="GET">
                    <div class="form-row py-2">
                        <div class="form-group">
                            <div class="input-group">
                                <input 
                                    class="form-control py-2 border-right-0 border"
                                    type="search"
                                    name="name"
                                    placeholder="Name..."
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-row py-4">
                        <div class="form-group">
                            <div class="input-group">
                                <input 
                                    class="form-control py-2 border-right-0 border"
                                    type="number"
                                    name="min_price"
                                    id="minPrice"
                                    placeholder="Min. price"
                                />
                                <input 
                                    class="form-control py-2 border-right-0 border"
                                    type="number"
                                    name="max_price"
                                    id="maxPrice"
                                    placeholder="Max. price"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-row py-2">
                        <div class="form-group">
                            <label for="minDate">Min. Purchase Date</label>
                            <input 
                                class="form-control border-right-0 border"
                                type="date"
                                name="min_date"
                                id="minDate"
                            />
                            <div class="py-3">
                                <label for="maxDate">Max. Purchase Date</label>
                                <input 
                                    class="form-control border-right-0 border"
                                    type="date"
                                    name="max_date"
                                    id="maxDate"
                                />
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-row py-2">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="available" value="AV" id="av">
                                <label class="form-check-label" for="av">
                                    Available
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="retired" value="RE" id="re">
                                <label class="form-check-label" for="re">
                                    Retired
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="under_repair" value="UR" id="ur">
                                <label class="form-check-label" for="ur">
                                    Under Repair
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="assigned" value="AS" id="as">
                                <label class="form-check-label" for="as">
                                    Assigned
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-success">Filter</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-9 col-xl-9">
        <div class="card">
            <div class="card-header">
                <a name="" id="" class="btn btn-success" href="{% url 'assetsapp:asset_create' %}" role="button">Add new asset</a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Fixed Assets</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Serial</th>
                            <th>Purchase Price</th>
                            <th>Purchase Date</th>
                            <th>Leaving Date</th>
                            <th>Current Status</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>          
                        {% for asset in assets_list %}
                            <tr>
                                <td><a href="{% url 'assetsapp:asset_detail' asset.id%}"><strong>{{ asset.id }}</strong></a></td>
                                <td>{{ asset.name }}</td>
                                <td>{{ asset.serial }}</td>
                                <td>${{ asset.purchase_price|floatformat:'2g' }}</td>
                                <td>{{ asset.purchase_date }}</td>
                                <td>{{ asset.leaving_date|default_if_none:'--------------' }}</td>
                                <td>{{ asset.get_current_status_display }}</td>
                                <td><a name="" id="" class="btn btn-primary" href="{% url 'assetsapp:asset_update' asset.id %}" role="button">Update</a></td>
                            </tr>
                        {% empty %}
                            <tr><td>-</td></tr>
                        {% endfor %}                           
                    </tbody>
                </table>
            </div>
            {% if not assets_list %}
                <div class="card-footer text-muted">
                    THERE ARE NO ASSETS
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}