{% extends 'base.html' %}

{% block title %} Delete Person {% endblock  %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-5">
        <div class="card">
            <form method="POST">{% csrf_token %}
                <div class="card-body">
                    <div class="text-center">
                        <h5><strong>Are you sure to remove {{object}}?</strong></h5>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger">Confirm</button>
                        <a class="btn btn-secondary" href="{% url 'assetsapp:persons' %}" role="button">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock  %}